# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local data
/data/*.sqlite3
/data/*.sqlite3-journal
/data/*.sqlite3-wal
/data/*.sqlite3-shm

# env
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
